<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".SettinsActivity"></activity>
        <activity android:name=".SearchProductsActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ConfirmFinalOrderActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".AdminUserProductsActivity" />
        <activity android:name=".AdminCategoryActivity" />
        <activity android:name=".AdminAddNewProductActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdminNewOrdersActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>